.categoria-lista {
  border-radius: 5px;
  padding: 3px;
  font-style: italic;
  margin: 2px 0 2px 0;
  width: max-content;
}

.centro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lista {
  height: 90%;
}